@font-face {
    font-family: "SortsMillGoudy-Regular";
    src: url(SortsMillGoudy-Regular.ttf) format("truetype");
}

.foot {
    padding: 0 5vw 100px 5vw;
}

.container-a {
    padding: 0 25vw;
    position: absolute;
        top: 30%;
    -ms-transform: translateY(-30%);
        transform: translateY(-30%);
}

.container-b {
    width: 60vw;
    padding: 0 20vw;
    text-align: center;
}

.container-b2 {
    width: calc(30vw - 20px);
    padding: 0 0 0 20vw;
    float: left;
}

.container-b3 {
    width: calc(30vw - 20px);
    padding-left: 40px;
    float: left;
}

.container-c {
    padding: 0 25vw;
}

.wrapper {
    width: 60vw;
}

.wrapper2 {
    width: calc(30vw - 20px);
    float: left;
}

* {
    margin: 0;
    padding: 0;
    font-family: SortsMillGoudy-Regular;
}

p {
    font-family: SortsMillGoudy-Regular;
    font-size: 24px;
    font-weight: 100;
    line-height: 38px;
    letter-spacing: 0.1px;
    padding-top: 16px;
}

a {
    font-family: SortsMillGoudy-Regular;
    font-size: 24px;
    font-weight: 100;
    color: rgb(0, 0, 255);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;;    
}

@media only screen and (max-width: 1080px) {   
    
    .foot {
        padding: 0 0 120px 0 
    }
    
    .container-a {
        padding: 0 120px;
    }
    
    .container-b {
        width: auto;
        padding: 0 120px;
    }
    
    .container-c {
        padding: 0 120px;
    }
    
    .container-d {
        width: auto;
        padding: 120px;
    }
    
    .wrapper {
        width: 100%;
    }
    
    .wrapper2 {
    width: calc(50vw - 140px);
    float: left;
}
    
    .container-b2 {
    width: calc(50vw - 140px);
    padding: 0 0 0 120px;
    float: left;
}

.container-b3 {
    width: calc(50vw - 140px);
    padding-left: 40px;
    float: left;
}

@media only screen and (max-width: 720px) {   
    
    .container-a {
        padding: 0 40px;
    }
    
    .container-b {
        width: auto;
        padding: 0 40px;
    }
    
    .container-c {
        padding: 0 40px;
    }
    
    .container-d {
        width: auto;
        padding: 40px
    }
    
    .wrapper {
        width: 100%;
    }
    
    .wrapper2 {
    width: calc(50vw - 60px);
    float: left;
}
    
    p {
        font-size: 28px;
        line-height: 40px;
    }
    
    .container-b2 {
    width: calc(50vw - 60px);
    padding: 0 0 0 40px;
    float: left;
}
    
    a {
        font-size: 28px;
    }

.container-b3 {
    width: calc(50vw - 60px);
    padding-left: 40px;
    float: left;
}